<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Wikis</h1>

      <ul class="list-group">
        <% wikis.forEach((wiki) => { %>
          <li class="list-group-item">
            <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
            <!-- <a href="/wikis/<%= wiki.id %>"> <%= wiki.body %> </a> -->
          </li>
        <% }) %>
      </ul>

      <a href="/wikis/new" class="btn btn-success">Create New Wiki</a>

    </main>
  </body>
</html>
