<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
      <% include ./partials/navbar.ejs %>
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-4">Welcome to Blocipedia</h1>
          <p class="lead">An wiki app.</p>
          <% if (!currentUser) { %>
          <a href="/users/sign_up" class="btn btn-primary btn-lg">Sign up</a>
          <% } %>
        </header>


      </main>
      <!-- /.container -->

      <% include ./partials/baseScripts.ejs %>
    </body>
</html>
