<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1>Account Settings</h1>
      
      <% if(currentUser && currentUser.role === "standard") { %>
      <p>You are currently a standard user. If you want to create private wikis, please upgrade your account.</p>
      <a href="/users/upgrade" class="btn btn-success">Upgrade</a>

      <% } else if (currentUser.role === "premium") { %>
      <p>You are currently a premium user. Please confirm to downgrade to a standard account?</p>
      <form style="display:initial" action="/users/<%= currentUser.id %>/downgrade" method="post">
        <button type="submit" class="btn btn-danger">Downgrade Account</button>
      </form>

      <br>
      <small>Private Wikis Features will no longer be available.</small>
      <% } %>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
