<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1>UPGRADE Your Account for more FEATURES</h1>
      <p>For $15/month, you can create private Wikis and collaborate with other members!</p>
      <form action="/users/<%=currentUser.id%>/upgrade" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_2wApIAzrSrNRmB6Q6e8Zwlt5"
          data-amount="1500"
          data-name="Demo Site"
          data-description="Example charge"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto">
        </script>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
